# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
build
.turbo
*.tsbuildinfo
tsconfig.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage
.nyc_output

# Misc
*.swp
*.swo
